body{
  background-color: rgb(99, 94, 94);
}

.expense-tracker {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #0f0f0f;
}

.content-wrapper {
  display: flex;
  gap: 40px;
}

.add-expense {
  flex: 1;
  background-color:#5f2727;
  padding: 20px;
  border-radius: 8px;
}

.expenses-list {
  flex: 2;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-button {
  padding: 10px 15px;
  background-color:black;
  color:#eef3f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.add-button:hover {
  background-color: #2385e0;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 250%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #110f0f;
}
tr{
  background-color: #5f2727;
}

th {
  background-color: #141414;
  color: #f5f5f5;
}

tr:hover {
  background-color: #8f4646;
}